<h2>{{hero.name | uppercase}} (a single hero defined in the Heroes component)</h2>
<div><span>id: </span>{{hero.id}}</div>
<div><span>name: </span>{{hero.name}}</div>

<div>
	<label> Name: </label>
	<input [(ngModel)]="hero.name" placeholder="Name"/>
</div>

---------------------------------------------------------------------

<h2 style="padding-top: 40px;">My Heroes (a list of Heroes defined in mock-Heroes.ts imported to the Heroes component)</h2>
<ul class="heroes">
<!-- *ngFor loops through the list heroes -->
<!-- (click) adds a click binding to the listItem. The function is found in the heros component -->
<!-- [class.selected] adds the selected class if the current hero is eq to the selectedHero which is defined starting as none -->
  <li *ngFor="let hero of heroes" (click)="onSelect(hero)" [class.selected]="hero === selectedHero">
    <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li>
</ul>



<!-- *ngIf selectedHero exsists -->
<div *ngIf="selectedHero">
	<h2>{{selectedHero.name | uppercase}} Details</h2>
	<div><span>id: </span>{{selectedHero.id}}</div>
	<div>
	  <label>name:
	    <input [(ngModel)]="selectedHero.name" placeholder="name"/>
	  </label>
	</div>
</div>